<mat-toolbar class="top-bar">

  <span>
    <button mat-button (click)="onPassChange()"><h1>Zmień hasło</h1></button>
  </span>

  <span></span>
  <span></span>
  <span><h1>Hospital Meals App</h1></span>
  <span></span>

  <span><div>
    <h1>
      {{employee.firstName}} {{employee.lastName}}
      <br>
      {{employee.role}} {{employee.ward}}
    </h1>
  </div></span>

  <span>
    <button mat-icon-button class="lowerBtn" title="Wyloguj" (click)="logout()"><mat-icon
      class="material-icons">power_settings_new</mat-icon>
    </button>


  </span>
</mat-toolbar>
