<div class="background">
</div>

<app-top-bar class="topBar"></app-top-bar>




<div class="frame">
  <div class="layout">
    <h1>Zestawienia z oddziałów:</h1>
    <br>

    <button mat-raised-button class="sheetBtn" color="primary">Zestawienie nr. 1, Coś <br/>o posiłkach z oddziałów, ale nie <br/>pamietam dokładnie</button>
    <p>Opis zestawienia 1 w formie PDF</p>
    <button mat-raised-button class="sheetBtn" color="primary">Zestawienie nr. 2, takie bardziej <br/>dla kuchni, ale musze to zdjecie <br/>znalezć xd</button>
    <p>Opis zestawienia 2 w formie PDF</p>
    <button mat-raised-button class="sheetBtn" color="warn">
    <span class="material-icons">
autorenew
</span>
      Odśwież zestawienia
    </button>
    <h3>Ostatnia aktualizacja zestawień: {{timestamp}}</h3>
  </div>
</div>
