<app-top-bar></app-top-bar>
<div class="background">
</div>

<div class="frame">
  <div class="layout">
    <h1>Zestawienia z oddziałów:</h1>
    <br>

    <button mat-raised-button class="sheetBtn">Zestawienie nr. 1, Coś <br/>o posiłkach z oddziałów, ale nie <br/>pamietam dokładnie</button>
    <button mat-raised-button class="sheetBtn">Zestawienie nr. 2, takie bardziej <br/>dla kuchni, ale musze to zdjecie <br/>znalezć xd</button>

    <button mat-raised-button class="sheetBtn">
    <span class="material-icons">
autorenew
</span>
      Odśwież zestawienia
    </button>
    <h3>Ostatnia aktualizacja zestawień: {{timestamp}}</h3>
  </div>
</div>
