.topBar {
  position: relative;
}
.background {
  background-image: url("background.jpg");
  background-size: auto;
  background-repeat: repeat;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: fixed;
}


.frame {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}


.layout {
  background: #fafafa;
  position: relative;
  flex-direction: column;
  justify-content: normal;
  padding: 1rem 2.5rem;
  height: auto;
  min-height: 100vh;
  min-width: fit-content;
  display: flex;
  margin-left: 0;
  margin-right: auto;
  width: 40vw;
  font-family: Metropolis, Avenir Next, Helvetica Neue, Arial, sans-serif;
}

.sheetBtn {
  margin-top: 9%;
  margin-bottom: 1%;
  display: flex;
  width: fit-content;
  text-align: center;

}

.material-icons {
  font-size: 56px;

}

p{
  font-size: 16px;
}

h1{
  font-size: 28px;
}

h3{
  font-size: 14px;
  color: red;
}

