<mat-dialog-content>
  <h2>Zmień hasło pracownika</h2>
  <form #passwordForm="ngForm">

    <mat-form-field class="mat-form-field-width">
      <input matInput
             required
             type="password"
             [(ngModel)]="pass.newPassword"
             placeholder='Nowe hasło'
             name='newPassword'>
    </mat-form-field>
    <mat-form-field class="mat-form-field-width">
      <input matInput
             required
             type="password"
             [(ngModel)]="pass.newPasswordConfirm"
             placeholder='Potwierdź nowe hasło'
             name='newPasswordConfirm'>
    </mat-form-field>
  </form>

  <button (click)="onSubmit()" mat-raised-button class="save_button btn btn-primary"
          [disabled]="passwordForm.form.invalid || pass.newPassword !== pass.newPasswordConfirm" color="primary">
    Zmień hasło
  </button>
</mat-dialog-content>
