<mat-dialog-content>
  <h2>Zmień hasło pracownika</h2>
  <form [formGroup]="formGroup">

    <mat-form-field class="mat-form-field-width">
      <input matInput required type="password" placeholder='Nowe hasło' formControlName='newPassword'>
    </mat-form-field>
    <mat-form-field class="mat-form-field-width">
      <input matInput required type="password" placeholder='Potwierdź nowe hasło' formControlName='newPasswordConfirm'>
    </mat-form-field>
  </form>

  <button mat-raised-button class="save_button" (click)="changePassword()" color="primary">Zmień hasło</button>
</mat-dialog-content>
