.save_button {
  justify-content: flex-end;
  margin-top: 20px;
}

mat-dialog-content {
  height: 100%;
  overflow: auto;
  display: grid;
  justify-content: center;

}

.mat-form-field-width {
  width: 95%;
}

.blue-snackbar {
  background: #2196F3;
}

.btn-primary .btn.disabled, .btn-primary .btn:disabled, .btn.btn-primary.disabled, .btn.btn-primary:disabled {
  color: #565656;
  cursor: not-allowed;
  background-color: #ccc;
  border-color: #ccc;
  opacity: .4;
}

