.save_button {
  justify-content: flex-end;
  margin-top: 20px;
}

mat-dialog-content {
  height: 100%;
  overflow: auto;
  display: grid;
  justify-content: center;

}

.mat-form-field-width {
  width: 95%;
}

.blue-snackbar {
  background: #2196F3;
}
