<mat-dialog-content>
  <mat-slide-toggle
    [(ngModel)]="firstTime"
    [color]="color"
    class="slider">
    Czy dane pracownika, są już w bazie szpitala?
  </mat-slide-toggle>
  <br>
  <br>
  <form #workerForm="ngForm" (ngSubmit)="onSubmit(workerForm)" class="register">
    <div class="patientData">
      <mat-form-field>
        <label>
          <input matInput
                 required
                 [(ngModel)]="worker.pesel"
                 class="pesel"
                 name="pesel"
                 type="text"
                 placeholder="pesel">
        </label>
      </mat-form-field>
      <br>
      <div *ngIf="firstTime">
        <mat-form-field>
          <label>
            <input matInput
                   required
                   [(ngModel)]="worker.firstName"
                   class="firstName"
                   name="firstName"
                   type="text"
                   placeholder="Imię">
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput
                   required
                   [(ngModel)]="worker.lastName"
                   class="lastName"
                   name="lastName"
                   type="text"
                   placeholder="Nazwisko">
          </label>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Data Urodzenia</mat-label>
          <input matInput
                 required
                 [matDatepicker]="picker"
                 [(ngModel)]="worker.birthDate">
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

        </mat-form-field>
        <br>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Favorite food</mat-label>
        <mat-select [(ngModel)]="worker.role" name="food">
          <mat-option *ngFor="let role of roles" [value]="roles">
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <div *ngIf="isWardNurse()"></div>
      <mat-form-field appearance="fill">
        <mat-label>Favorite food</mat-label>
        <mat-select [(ngModel)]="worker.ward" name="food">
          <mat-option *ngFor="let ward of wards" [value]="ward.id">
            {{ward.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" class="btn btn-primary" [disabled]="workerForm.form.invalid">
        Zarejestruj
      </button>
    </div>
    <br>
  </form>
</mat-dialog-content>

